# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
.DS_Store

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.idea/
.go/
*.iml
#/bin/*
#/pkg/*
#/go/*
#/src/*
#!/src/gozen/
#/src/gozen/vendor/*
#!/src/gozen/vendor/.gitkeep


golang/*
!/golang/.gitkeep
gopath/.cache
gopath/bin
gopath/src/*
!gopath/src/gozen
gopath/src/gozen/vendor/*
!gopath/src/gozen/vendor/.gitkeep
!gopath/src/gozen/vendor/vendor.json
!/gopath/.gitkeep
